<style>
*
{
font-family: Arial; font-size: 1em;  color: blue; background-color:#02B9ED; border-color:white; padding:0; margin:1%;}

div#A1 {position: relative; margin-bottom:3%;}


div#C3 {position: relative;  margin-bottom:3%;}

div#academies {display:block; left:100vw; border-right: hidden; margin-bottom:10%;}

div#courses {display:block; left:100vw; border-right: hidden; margin-bottom:10%;}




footer{
  height: 100px;
  color: gray;
  background-color: hsl(271.01,91.75%,19.02%);
  text-align: center;
}
</style>